.studio_infos
  %ul.brief
    %li We Both Know Internet and mobile apps
    %li Fast sketch out development methods
    %li Professional and beautiful lookings

  .step1.step_container
    =image_tag 'listen_customers.png'
    .info
      .title 1.Listen to our customer
      =link_to 'Next','#','data-next'=>'step2',:class=>'btn'
  .step2.step_container
    =image_tag 'sketches.png'
    .info
      .title 2.Sketch out according to requirements
      =link_to 'Next','#','data-next'=>'step3',:class=>'btn'
  .step3.step_container
    =image_tag 'compare.png'
    .info
      .title 3.Check requirements
      =link_to 'Next','#','data-next'=>'step4',:class=>'btn'
  .step4.step_container
    =image_tag 'xcode.png'
    .info
      .title 4.Start building app
      =link_to 'Next','#','data-next'=>'step5',:class=>'btn'
  .step5.step_container
    =image_tag 'deliver.png'
    .info
      .title 5.Product Deliver
      =link_to 'Check Our Teams','#','data-next'=>'step6',:class=>'btn'
  .step6.step_container
    =image_tag 'team_members.png'
    .info
      .title Team Members
      =link_to 'Back','#','data-next'=>'header',:class=>'btn'
:javascript
  $(function(){
    $('.step_container a').click(function(){
      var css = $(this).attr('data-next');
      $("."+css).ScrollTo({easing: 'linear',duration: 1000});
      return false;
    });
  });
