.studio_infos
  %ul.brief
    %li We Know Internet and mobiles
    %li Fast schech out development methods

  .step1.step_container
    =image_tag 'Screenshot_3.png'
    .info
      .title 1.Listen to our customers
      =link_to 'next','#','data-next'=>'step2',:class=>'btn'
  .step2.step_container
    =image_tag 'Screenshot_3.png'
    .info
      .title 2.Sketch out the requirements
      =link_to 'next','#','data-next'=>'step3',:class=>'btn'
  .step3.step_container
    =image_tag 'Screenshot_3.png'
    .info
      .title 3.Reasure requirements
      =link_to 'next','#','data-next'=>'step4',:class=>'btn'
  .step4.step_container
    =image_tag 'Screenshot_3.png'
    .info
      .title 4.App build
      =link_to 'next','#','data-next'=>'step5',:class=>'btn'
  .step5.step_container
    =image_tag 'Screenshot_3.png'
    .info
      .title 5.Beta Deliver
      =link_to 'next','#','data-next'=>'step6',:class=>'btn'
  .step6.step_container
    =image_tag 'Screenshot_3.png'
    .info
      .title 6.Product Deliver
      =link_to 'next','#','data-next'=>'step1',:class=>'btn'
:javascript
  $(function(){
    $('.step_container a').click(function(){
      var css = $(this).attr('data-next');
      $("."+css).ScrollTo({easing: 'linear',duration: 1000});
      return false;
    });
  });
