// Place all the styles related to the team controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
  .title{
    float:left;
    font-size:20px;
  }
  .subtitle{
    float:left;
    clear:left;
  }
}

.studio_infos{
  .brief{
    padding:20px 20px;
    border-left:3px solid #ccc;
    list-style:none;
    float:right;
    font-size:16px;
    li{
      margin-top:10px;
    }
  }
  .step_container{
    padding:10px;
    border-top:1px solid #ccc;
    width:960px;
    min-height:800px;
    margin-top:20px;
    border-radius:9px 9px 9px;
    &.step4{
      min-height:500px;
      height:500px;
    }
    img{
      float:left;
      max-height:600px;
      margin:20px 0px 0px 20px;
    }
    .info{
      padding:80px;
      float:right;
      .title{
        font-size:20px;
        padding:10px 0px;
        margin-bottom:40px;
      }
      a{
        margin-top:10px;
      }
    }
  }
}

.footer{
  border-top:1px solid #ccc;
  text-align:center;
  width:940px;
  padding:20px 0px;
  margin:auto;
}
