%html
  %head
    %title 29decibel Studio
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .header
      .title
        =link_to image_tag('29decibel_logo.png',:class=>'logo'),root_url
        Studio
      .subtitle Dedicate to mobile apps and internet
    .container
      = yield
    .footer
      29decibel Studio


:css
  .logo{
    width:200px;
  }
  .header{
    border:none;
  }
